body
{
    background-color: #e7d9ea;
}
hr
{
    border-color: #11698e;
    border-style: dotted none none;
    border-width: 10px;
    width: 5%;
}
h1
{
    color: #16c79a;
    font-family: "Lucida Calligraphy", cursive;
}
h3
{
    color: #19456b;
}